name: Ruff Format
on: [push, pull_request]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get changed files
        id: changed-files
        uses: step-security/changed-files@v46
        with:
          files: "**.py"

      - name: Check Ruff Format on changed files only
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff"
          src: ${{ steps.changed-files.outputs.all_changed_files }}
